@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Medium.otf');
}

.App {
  font-family: 'Helvetica';
  padding: 75px 70px 0;
  background-image: radial-gradient(
    #ebd7fa 0%,
    #fff 100%
  );
}

h1 {
  font-weight: 400;
  font-size: 48px;
}

.back-finish-btn {
  width: 112px;
  height: 56px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  margin: 75px 25px 100px 0px;
  padding: 16px 35px;
}

#finish-btn {
  width: 140px;
  color: #fff;
  background-color: #1a1225;
  border: 1px solid #1a1225;
  padding: 16px 45px;
}

#finish-btn:hover {
  opacity: .85;
}

.back-finish-btn:hover {
  cursor: pointer;
  background-color: #c8c8c8;
}
