body {
  margin: 0;
}

#header {
  border: 1px solid #eeeeee;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 72px;
}

#header p {
  font-size: 32px;
  color: #9730FF;
  font-family: 'Satoshi';
}

#profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
}

#profile-pic:hover {
  cursor: pointer;
  border: 1px solid #c8c8c8;
}
